{sub header}
<style type="text/css">

.main-content .right .content-box{padding:0}

.index-content{padding:0 15px;}

.index-content .left-border{border-left:1px solid #e1e1e1}

.index-content>.row>.col-sm-6{border-bottom: 1px solid #e1e1e1;padding:50px 25px 40px 35px;min-height:150px;}

.index-content>.row>.col-sm-6:hover{background: #fafafa}

.bf{font-size: 4em;color:#76C379}

.bf1{font-size: 1.4em;color:#999}

.bf2{font-size: 1.8em;color:#E43D40}

.bf3{font-size: 0.9em}

.notice{border:1px solid #e1e1e1;border-bottom: 0;border-top:0}

.notice dl dd{line-height: 45px;padding:0 10px;border-bottom: 1px solid #e1e1e1;background: #fff}

.notice dl dd span{color:#999}

.notice dl dd a{display: block}

.set-h3{text-align: center;height: 37px;border-top: 3px solid #E0E0E0;background: #FCFCFC none repeat scroll 0% 0%;border-bottom: 1px dotted #E0E0E0;font-size: 14px;font-weight: bold;line-height: 37px;color: #12719D;

}

</style>

<!-- page content -->

<div class="right_col" role="main"> 
  
  <!-- top tiles -->
 
  <div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count"> <span class="count_top"><i class="fa fa-user"></i> 账户ID</span>
      <div class="count">{$member->m_id}</div>
      <span class="count_bottom"><a href="javascript:;" id="api" onclick="{if $member->m_isApi}showContent('接入密钥','{r}/users/api/show');{else}layer.msg('您还未开通API支付接口权限，请联系客服'){/if}" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="已经开通收款功能的可点击查看商户KEY">查看API</a></span> </div>
    <script type="text/javascript">



$('#shvip').on('click', function(){

  layer.open({

  type: 2,

  title: '商户套餐',

  maxmin: true,

  shadeClose: true, //点击遮罩关闭层

  area : ['80%' , '620px'],

  content: '{r}/vip?u'

  });

});

</script>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count"> <span class="count_top"><i class="fa fa-user"></i> 商户余额</span>
      <div class="count green">{$member->m_money}</div>
      <span class="count_bottom"><a href="{r}/users/takecash" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="提现账户余额到支付宝或银行卡">提现</a><span class="v-line"> | </span><a href="{r}/users/recharge?u" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="充值余额到账户,余额可提现">充值</a> </span> </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count"> <span class="count_top"><i class="fa fa-user"></i> 结算总额</span>
      <div class="count">$cashMoney</div>
      <span class="count_bottom"> <a href="{r}/users/payments" title="" data-placement="bottom" data-original-title="查看自己提现计算记录">结算记录</a> </span> </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count"> <span class="count_top"><i class="fa fa-user"></i>订单总数</span>
      <div class="count">$dayTotal</div>
      <span class="count_bottom"><a href="{r}/users/orders?startDate={echo date('Y-m-d');}" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="查看今天的通道交易记录">查看订单</a> </span> </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count"> <span class="count_top"><i class="fa fa-user"></i>今日收入</span>
      <div class="count">$dayMoney</div>
      <span class="count_bottom"><a href="{r}/users/count?fdate={echo date('Y-m-d');}" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="查看今天的通道交易记录金额">查看交易</a> </span> </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count"> <span class="count_top"><i class="fa fa-clock-o"></i> 商户等级</span>
      <div class="count" style="font-family:微软雅黑;"> {if $member->m_vip == 0}注册会员{else}{echo db::one_one('pay_bl', 'name', "id='$member->m_vip'");}{/if} </div>
      <span class="count_bottom"><a href="{r}/vip" id="shvip" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="购买会员套餐可以获得更低的费率">商户套餐</a> </span> </div>
  </div>
  
  <!-- /top tiles --> 
   {if !$member->m_isApi}
<!--未开通支付权限提示开始-->
<style type="text/css">
.jmp_notice{width:100%;padding:15px;text-align:center;color:#fff;background:#ff8a00;line-height:24px;}
.jmp_notice-unactive{display:none;}
.jmp_notice.notice-top-banner {
    background: #ff8a00;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0;
    position: relative;
}
.jmp_notice.notice-top-banner .close-banner {
    width: 14px;
    height: 14px;
    background-size: cover;
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//www.jinmipay.com/img/usercodeimg/x28-28.png',sizingMethod='scale')";
    background-image: url(//www.jinmipay.com/img/usercodeimg/x28-28.png);
    position: absolute;
    top: 50%;
    right: 18px;
    margin-top: -7px;
    cursor: pointer;
}

</style>

<script type="text/javascript">
    var $close = document.getElementById('J_closeNotice');
    $close.onclick = function() {
        $close.parentNode.setAttribute('class', 'jmp_notice notice-active notice-top-banner');
        document.getElementById('J_navigation').style.top = '0';
    }
</script>
<script type="text/javascript"> 
    function jsCopy(){ 
        var e=document.getElementById("content");//对象是content 
        e.select(); //选择对象 
        document.execCommand("Copy"); //执行浏览器复制命令

       layer.alert("已复制好，推广获取提成，快去试试吧。"); 
    } 
</script>

<div id="J_closeNotice" class="jmp_notice notice-active notice-top-banner">
<span class="glyphicon glyphicon-alert"></span>
系统提示：您还未开通API支付接口收款权限，马上联系客服开通，<a href="tencent://message/?uin=2514265489&amp;Site=ming&amp;Menu=yes" target="_blank">点击联系</a>。
    <div class="close-banner" id="J_navigation"></div>
</div>
<!--未开通支付权限提示结束-->
  {/if} 



{eval
            	$alipay_b = db::dataCount('pay_payment', "uid='$member->m_id' AND types=0 AND status=1 AND type='alipay'");
                $wxpay_b  = db::dataCount('pay_payment', "uid='$member->m_id' AND types=0 AND status=1 AND type='wxpay'");
            	$qqpay_b  = db::dataCount('pay_payment', "uid='$member->m_id' AND types=0 AND status=1 AND type='qqpay'");
            	$bdpay_b  = db::dataCount('pay_payment', "uid='$member->m_id' AND types=0 AND status=1 AND type='bdpay'");
               	$all_b    = $alipay_b + $wxpay_b + $qqpay_b + $bdpay_b;
                $alipay_c = round($alipay_b / $all_b, 2);
               	$wxpay_c  = round($wxpay_b / $all_b, 2);
               	$qqpay_c  = round($qqpay_b / $all_b, 2);
               	$bdpay_c  = round($bdpay_b / $all_b, 2);
                
                $alipay_d =  $alipay_c * 100;
                $wxpay_d =  $wxpay_c * 100;
                $qqpay_d =  $qqpay_c * 100;
                $bdpay_d =  $bdpay_c * 100;
                $todayStart = time::$todayStart;
                $todayEnd = time::$todayEnd;
                $list_data = array();
                for($i = 20; $i >= 0; $i--){
                    $timesStart = $todayStart - ($i * 86400);
                    $timesEnd   = $todayEnd - ($i * 86400);
                    $ones  = db::one_one('pay_payment', 'SUM(money)',"uid='$member->m_id' AND types=0 AND status=1 AND addTime>$timesStart AND addTime< $timesEnd");
                 	
                	$list_data[]  = array($timesEnd.'000', (int)$ones);
                }
               //$list_data = string::json_encode($list_data);
            }
            
   
   
<script>
var list_data = [];

{if $list_data}
{loopQuick $list_data}
list_data.push(["$v[0]", $v[1]]);
{/loopQuick}
{/if}


</script>       


  <!-- 通入总览开始-->
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="dashboard_graph">
        <div class="row x_title">
          <div class="col-md-6">
            <h3>收入波动图<small>最近三周收入起伏状况</small></h3>
          </div>
          <!--
          <div class="col-md-6">
            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc"> <i class="glyphicon glyphicon-calendar fa fa-calendar"></i> <span></span> <b class="caret"></b> </div>
          </div>
          -->
          
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <div id="chart_plot_02" class="demo-placeholder"></div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
          <div class="x_title">
            <h2>总收入渠道统计</h2>
            <div class="clearfix"></div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-6">
            <div>
              <p title="支付宝通道收入比例{$alipay_d}%">支付宝通道 {$alipay_d}%</p>
              <div class="">
                <div class="progress progress_sm" title="支付宝通道收入比例{$alipay_d}%" style="width:100%;">
                  <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{$alipay_d}"></div>
                </div>
              </div>
            </div>
            <div>
              <p title="微信通道收入比例{$wxpay_d}%">微信通道 {$wxpay_d}%</p>
              <div class="">
                <div class="progress progress_sm" title="微信通道收入比例{$wxpay_d}%" style="width:100%;">
                  <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{$wxpay_d}"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-6">
            <div>
              <p title="QQ钱包通道收入比例{$qqpay_d}%">QQ钱包通道 {$qqpay_d}%</p>
              <div class="">
                <div class="progress progress_sm" title="QQ钱包通道收入比例{$qqpay_d}%" style="width:100%;">
                  <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{$qqpay_d}"></div>
                </div>
              </div>
            </div>
            <div>
              <p title="网银通道收入比例{$bdpay_d}%">网银通道 {$bdpay_d}%</p>
              <div class="">
                <div class="progress progress_sm" title="网银通道收入比例{$bdpay_d}%" style="width:100%;">
                  <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{$bdpay_d}"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <br/>
  {if false}
  <div class="row"> 
    
    <!--已付订单统计-->
    
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="x_panel tile fixed_height_320 overflow_hidden">
        <div class="x_title">
          <h2>已付订单统计</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{r}/users/orders">查看订单</a> </li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a> </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="" style="width:100%">
            <tr>
              <th style="width:37%;"> <p>Top 5</p>
              </th>
              <th> <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                  <p class="">通道</p>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                  <p class="">百分比</p>
                </div>
              </th>
            </tr>
            
            {eval
            	$alipay_b = db::dataCount('pay_payment', "uid='$member->m_id' AND types=0 AND status=1 AND type='alipay'");
                $wxpay_b = db::dataCount('pay_payment', "uid='$member->m_id' AND types=0 AND status=1 AND type='wxpay'");
            	
            }
            
            <tr>
              <td><canvas class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas></td>
              <td><table class="tile_info">
                  <tr>
                    <td><p><i class="fa fa-square blue"></i>支付宝 </p></td>
                    <td>30%</td>
                  </tr>
                  <tr>
                    <td><p><i class="fa fa-square green"></i>微信</p></td>
                    <td>10%</td>
                  </tr>
                  <tr>
                    <td><p><i class="fa fa-square purple"></i>QQ钱包</p></td>
                    <td>20%</td>
                  </tr>
                  <tr>
                    <td><p><i class="fa fa-square aero"></i>网银</p></td>
                    <td>15%</td>
                  </tr>
                  <tr>
                    <td><p><i class="fa fa-square red"></i>其他</p></td>
                    <td>30%</td>
                  </tr>
                </table></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    
    <!--已付资金统计开始-->
    
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="x_panel tile fixed_height_320 overflow_hidden">
        <div class="x_title">
          <h2>已付资金统计</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{r}/users/count">收入统计</a> </li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a> </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="" style="width:100%">
            <tr>
              <th style="width:37%;"> <p>Top 5</p>
              </th>
              <th> <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                  <p class="">通道</p>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                  <p class="">百分比</p>
                </div>
              </th>
            </tr>
            <tr>
              <td><canvas class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas></td>
              <td><table class="tile_info">
                  <tr>
                    <td><p><i class="fa fa-square blue"></i>支付宝 </p></td>
                    <td>30%</td>
                  </tr>
                  <tr>
                    <td><p><i class="fa fa-square green"></i>微信</p></td>
                    <td>10%</td>
                  </tr>
                  <tr>
                    <td><p><i class="fa fa-square purple"></i>QQ钱包</p></td>
                    <td>20%</td>
                  </tr>
                  <tr>
                    <td><p><i class="fa fa-square aero"></i>网银</p></td>
                    <td>15%</td>
                  </tr>
                  <tr>
                    <td><p><i class="fa fa-square red"></i>其他</p></td>
                    <td>30%</td>
                  </tr>
                </table></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    
    <!--提现渠道统计开始-->
    
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="x_panel tile fixed_height_320 overflow_hidden">
        <div class="x_title">
          <h2>提现渠道统计</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{r}/users/payments">提现记录</a> </li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a> </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="" style="width:100%">
            <tr>
              <th style="width:37%;"> <p>Top 5</p>
              </th>
              <th> <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                  <p class="">通道</p>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                  <p class="">百分比</p>
                </div>
              </th>
            </tr>
            <tr>
              <td><canvas class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas></td>
              <td><table class="tile_info">
                  <tr>
                    <td><p><i class="fa fa-square blue"></i>支付宝 </p></td>
                    <td>30%</td>
                  </tr>
                  <tr>
                    <td><p><i class="fa fa-square green"></i>微信</p></td>
                    <td>10%</td>
                  </tr>
                  <tr>
                    <td><p><i class="fa fa-square purple"></i>QQ钱包</p></td>
                    <td>20%</td>
                  </tr>
                  <tr>
                    <td><p><i class="fa fa-square aero"></i>网银</p></td>
                    <td>15%</td>
                  </tr>
                  <tr>
                    <td><p><i class="fa fa-square red"></i>其他</p></td>
                    <td>30%</td>
                  </tr>
                </table></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  {/if}
  <div class="row"> 
    <!-- 公告开始 -->
    
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>公告列表<small>Announcement</small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Settings 1</a> </li>
                <li><a href="#">Settings 2</a> </li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a> </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <style type="text/css">

	.jmy_index_gg{ background: #fff; border-radius: 3px; position: relative; padding: 7px; margin-bottom: 5px; list-style: none;font-size: 14px;}

	.jmy_top_users{ width: 70%; background: #fff; margin-left: 15%; z-index: 1000; position: inherit; border: 1px solid rgba(52,73,94,.44); padding: 4px; border-radius: 50%;height: 70%;}

	.jmy_gg_li{border-radius: 3px; position: relative; margin-bottom: 5px; list-style: none; float: left; clear: both; margin-top: 5px;}

	</style>
        <div class="x_content" >
          <ul class="to_do">
            <li> {eval $list = db::select('cms_notice', '*', '', "sort,id DESC", 10);}
              
              {if $list}
              
              {loopQuick $list}
              <p class="jmy_index_gg">
                <input type="checkbox" class="flat">
                <a href="javascript:;" onclick="showContent('系统公告','{r}/users/notice/$v[id]')"><span>[{date3 $v[addTime]}]</span> <span {if $v[color]}style="color:$v[color]"{/if}>$v[title]</span></a></p>
              {/loopQuick}
              
              {/if} </li>
          </ul>
        </div>
      </div>
    </div>
    
    <!-- End to do list --> 
    
    <!-- start of weather widget -->
    
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel" style="background:#ffc;border:1px solid #f60;">
        <div class="x_title">
          <h2>分成推广 <small>Partner</small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a> </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a> </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-sm-12"> 
            
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <div class="weather-icon">
                <canvas height="58" width="58"  id="clear-day"></canvas>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="weather-text">
                <h2>
                  <font style="font-size:1.3rem;">动动手指，把下面链接发到QQ群，QQ空间，微信朋友圈，下线注册使用，您最高获取27%利润提成！</font></h2>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="weather-text">
              <div class="input-group" style="margin-top:10px;"> <span class=" input-group-addon" id="basic-addon3"><em class="glyphicon glyphicon-jpy hidden-xs"></em>您的推广链接</span>
                <input class="form-control"  aria-describedby="basic-addon3" value="{echo WEB_URL;}/users/reg/{echo base64_encode($member->m_id);}" data-toggle="tooltip" title="" name="content" id="content" data-placement="top" data-original-title="推广下线将可以获取27%提成，在一级二级三级下线处可提成的份额分别为20%，5%，2%。" >
                </div>
            </div>
          </div>
          <div class="clearfix"></div>
          {if false}
          <div class="row weather-days">
            <div class="col-sm-2">
              <div class="daily-weather">
                <h2 class="day">NO.1</h2>
                <h5><span class="glyphicon glyphicon-yen"></span><i>19802</i></h5>
                <h5><span class="glyphicon glyphicon-user"></span>**明</h5>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="daily-weather">
                <h2 class="day">NO.2</h2>
                <h5><span class="glyphicon glyphicon-yen"></span><i>13851</i></h5>
                <h5><span class="glyphicon glyphicon-user"></span>**天</h5>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="daily-weather">
                <h2 class="day">NO.3</h2>
                <h5><span class="glyphicon glyphicon-yen"></span><i>11826</i></h5>
                <h5><span class="glyphicon glyphicon-user"></span>**敏</h5>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="daily-weather">
                <h2 class="day">NO.4</h2>
                <h5><span class="glyphicon glyphicon-yen"></span><i>9510</i></h5>
                <h5><span class="glyphicon glyphicon-user"></span>*89</h5>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="daily-weather">
                <h2 class="day">NO.5</h2>
                <h5><span class="glyphicon glyphicon-yen"></span><i>7127.1</i></h5>
                <h5><span class="glyphicon glyphicon-user"></span>*达</h5>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="daily-weather">
                <h2 class="day">NO.6</h2>
                <h5><span class="glyphicon glyphicon-yen"></span><i>5785</i></h5>
                <h5><span class="glyphicon glyphicon-user"></span>**88</h5>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          {/if}
        </div>
      </div>
    </div>
    
<!--客服中心开始-->

<div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>客服中心<small>Help</small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a> </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a> </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-sm-12"> 
            
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="weather-icon">
               <i class="fa fa-user"></i> 客服QQ：<a href="http://q.url.cn/CDpF3o?_type=wpa&qidian=true" target="_blank">点击联系</a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="weather-text">
                <i class="fa fa-star"></i>工单系统：<a href="/users/gdlist">提交工单</a>
              </div>
            </div>
            <!--<div class="col-sm-4">
              <div class="weather-text">
                <i class="fa fa-smile-o"></i>在线论坛：<a href="http://www.jinmiyun.cn/forum.php" target="_blank">点击进入</a>
              </div>
            </div>
            <div class="col-sm-4" style="margin-top:20px;">
              <div class="weather-text">
               <i class="fa fa-group"></i> 官网Q群：<a href="https://shang.qq.com/wpa/qunwpa?idkey=e7bdc9dde8a1979620d645b7577a7be6d786607315ac1e9974df99b757416f5c" target="_blank">点击加入</a>
              </div>
            </div>
          </div>-->
          <div class="col-sm-4">
            <div class="weather-text">
           
            </div>
          </div>
          <div class="clearfix"></div>
          
        </div>
      </div>
    </div>

<!--客服中心结束-->
    <!-- end of weather widget --> 
    
  </div>
</div>
</div>
</div>

<!-- /page content -->

<div class="modal" id="waModal" role="dialog" aria-labelledby="waModalLable">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>
<script>

function showContent(title,url){

    $('#waModal').modal('show');

    $('#waModal .modal-title').text(title);

    $.get(url,{t:new Date().getTime()},function(data){

        $('#waModal .modal-body').html(data);

    });

}

</script> 
{sub footer} 