{sub header}
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">


            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="height:600px;">
                  <div class="x_title">
                    <h2>商户会员</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>

                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">
                    <div class="row">

                      <div class="col-md-12">

                        <!-- price element -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="pricing">
                            <div class="title">
                              <h2>注册会员</h2>
                              <h1>免费</h1>
                              <span>永久有效</span>
                            </div>
                            <div class="x_content">
                              <div class="">
                                <div class="pricing_features">
                                  <ul class="list-unstyled text-center">
                                    <li><i class="fa fa-check text-success"></i> 支付宝道费率 <strong>2%</strong></li>
                                    <li><i class="fa fa-check text-success"></i> 微信通道费率<strong>2%</strong></li>
                                    <li><i class="fa fa-check text-success"></i> QQ 通道费率<strong> 2%</strong></li>
                                    <li><i class="fa fa-check text-success"></i> 百度通道费率<strong>2%</strong></li>
                                    <li><i class="fa fa-check text-success"></i> 待添加<strong> 2%</strong></li>
                                    <li><i class="fa fa-check text-success"></i>  待添加<strong> 2%</strong></li>
                                    <li><i class="fa fa-times text-danger"></i>  待添加<strong> 2%</strong></li>
                                  </ul>
                                </div>
                              </div>
                              <div class="pricing_footer">
                                <a href="{r}/vip" class="btn btn-success btn-block" role="button">马上<span>购买</span></a>
                                <p>
                                  <font>即时生效</font>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- price element -->

                        <!-- price element -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="pricing ui-ribbon-container">
                            <div class="ui-ribbon-wrapper">
                              <div class="ui-ribbon">
                                30% Off
                              </div>
                            </div>
                            <div class="title">
                              <h2>VIP 会员</h2>
                              <h1>380元</h1>
                              <span>一年有效</span>
                            </div>
                            <div class="x_content">
                              <div class="">
                                <div class="pricing_features">
                                  <ul class="list-unstyled text-center">
                                    <li><i class="fa fa-check text-success"></i> 支付宝道费率 <strong>1.5%</strong></li>
                                    <li><i class="fa fa-check text-success"></i> 微信通道费率<strong>1.5%</strong></li>
                                    <li><i class="fa fa-check text-success"></i> QQ 通道费率<strong> 1.5%</strong></li>
                                    <li><i class="fa fa-check text-success"></i> 百度通道费率<strong>1.5%</strong></li>
                                    <li><i class="fa fa-check text-success"></i> 待添加<strong> 1.5%</strong></li>
                                    <li><i class="fa fa-check text-success"></i>  待添加<strong> 1.5%</strong></li>
                                    <li><i class="fa fa-times text-danger"></i>  待添加<strong> 1.5%</strong></li>
                                  </ul>
                                </div>
                              </div>
                              <div class="pricing_footer">
                                <a href="{r}/vip" class="btn btn-success btn-block" role="button">马上<span>购买</span></a>
                                <p>
                                  <font>即时生效</font>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- price element -->

                        <!-- price element -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="pricing">
                            <div class="title">
                              <h2>白金会员</h2>
                              <h1>450元</h1>
                              <span>一年有效</span>
                            </div>
                            <div class="x_content">
                              <div class="">
                                <div class="pricing_features">
                                  <ul class="list-unstyled text-center">
                                    <li><i class="fa fa-check text-success"></i> 支付宝道费率 <strong>1.2%</strong></li>
                                    <li><i class="fa fa-check text-success"></i> 微信通道费率<strong>1.2%</strong></li>
                                    <li><i class="fa fa-check text-success"></i> QQ 通道费率<strong> 1.2%</strong></li>
                                    <li><i class="fa fa-check text-success"></i> 百度通道费率<strong>1.2%</strong></li>
                                    <li><i class="fa fa-check text-success"></i> 待添加<strong> 1.2%</strong></li>
                                    <li><i class="fa fa-check text-success"></i>  待添加<strong> 1.2%</strong></li>
                                    <li><i class="fa fa-times text-danger"></i>  待添加<strong> 1.2%</strong></li>
                                  </ul>
                                </div>
                              </div>
                              <div class="pricing_footer">
                                <a href="{r}/vip" class="btn btn-success btn-block" role="button">马上<span>购买</span></a>
                                <p>
                                  <font>即时生效</font>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- price element -->

                        <!-- price element -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="pricing">
                            <div class="title">
                              <h2>钻石会员</h2>
                              <h1>680元</h1>
                              <span>一年有效</span>
                            </div>
                            <div class="x_content">
                              <div class="">
                                <div class="pricing_features">
                                  <ul class="list-unstyled text-center">
                                    <li><i class="fa fa-check text-success"></i> 支付宝道费率 <strong>0.8%</strong></li>
                                    <li><i class="fa fa-check text-success"></i> 微信通道费率<strong>0.8%</strong></li>
                                    <li><i class="fa fa-check text-success"></i> QQ 通道费率<strong> 0.8%</strong></li>
                                    <li><i class="fa fa-check text-success"></i> 百度通道费率<strong>0.8%</strong></li>
                                    <li><i class="fa fa-check text-success"></i> 待添加<strong> 0.8%</strong></li>
                                    <li><i class="fa fa-check text-success"></i>  待添加<strong> 0.8%</strong></li>
                                    <li><i class="fa fa-times text-danger"></i>  待添加<strong> 0.8%</strong></li>
                                  </ul>
                                </div>
                              </div>
                              <div class="pricing_footer">
                                <a href="{r}/vip" class="btn btn-success btn-block" role="button">马上<span>购买</span></a>
                                <p>
                                  <font>即时生效</font>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- price element -->
                      </div> </div> </div> </div>
						 </div> </div> </div>
        <!-- /page content -->

        <!-- footer content -->
         {sub footer}