<!-- #partners_start -->

<div class="container">
  <div class="partners">
    <div class="partners-bgarea-semitransparent">
      <div class="w-1200">
        <div class="reference-box">
          <div class="agent-title-new">
            <!--<h4>合作伙伴及用户</h4>
          </div>
          <div class="partners_logos">
            <div id="partners_section" class="als-container">
              <div class="partners_content als-viewport" style="width: 100%; height: 70px;">
                <ul class="als-wrapper" style="width: 4340px; height: 70px;">
                  <li class="als-item" id="als-item_0_0" style="left: 420px;"><a href="javascript:void(0);" class="link1"></a></li>
                  <li class="als-item" id="als-item_0_1" style="left: 420px;"><a href="javascript:void(0);" class="link2"></a></li>
                  <li class="als-item" id="als-item_0_2" style="left: 420px;"><a href="javascript:void(0);" class="link3"></a></li>
                  <li class="als-item" id="als-item_0_3" style="left: 420px;"><a href="javascript:void(0);" class="link4"></a></li>
                  <li class="als-item" id="als-item_0_4" style="left: 420px;"><a href="javascript:void(0);" class="link5"></a></li>
                  <li class="als-item" id="als-item_0_5" style="left: 420px;"><a href="javascript:void(0);" class="link6"></a></li>
                  <li class="als-item" id="als-item_0_6" style="left: 420px;"><a href="javascript:void(0);" class="link7"></a></li>
                  <li class="als-item" id="als-item_0_7" style="left: 420px;"><a href="javascript:void(0);" class="link8"></a></li>
                  <li class="als-item" id="als-item_0_8" style="left: 420px;"><a href="javascript:void(0);" class="link9"></a></li>
                  <li class="als-item" id="als-item_0_9" style="left: 420px;"><a href="javascript:void(0);" class="link10"></a></li>
                  <li class="als-item" id="als-item_0_10" style="left: 420px;"><a href="javascript:void(0);" class="link11"></a></li>
                  <li class="als-item" id="als-item_0_11" style="left: 420px;"><a href="javascript:void(0);" class="link12"></a></li>
                  <li class="als-item" id="als-item_0_12" style="left: 420px;"><a href="javascript:void(0);" class="link13"></a></li>
                  <li class="als-item" id="als-item_0_13" style="left: 420px;"><a href="javascript:void(0);" class="link14"></a></li>
                  <li class="als-item" id="als-item_0_14" style="left: 420px;"><a href="javascript:void(0);" class="link15"></a></li>
                  <li class="als-item" id="als-item_0_15" style="left: 420px;"><a href="javascript:void(0);" class="link16"></a></li>
                  <li class="als-item" id="als-item_0_16" style="left: 420px;"><a href="javascript:void(0);" class="link17"></a></li>
                  <li class="als-item" id="als-item_0_17" style="left: 420px;"><a href="javascript:void(0);" class="link18"></a></li>
                  <li class="als-item" id="als-item_0_18" style="left: 420px;"><a href="javascript:void(0);" class="link19"></a></li>
                  <li class="als-item" id="als-item_0_19" style="left: 420px;"><a href="javascript:void(0);" class="link20"></a></li>
                  <li class="als-item" id="als-item_0_20" style="left: 420px;"><a href="javascript:void(0);" class="link21"></a></li>
                  <li class="als-item" id="als-item_0_21" style="left: 420px;"><a href="javascript:void(0);" class="link22"></a></li>
                  <li class="als-item" id="als-item_0_22" style="left: 420px;"><a href="javascript:void(0);" class="link23"></a></li>
                  <li class="als-item" id="als-item_0_23" style="left: 420px;"><a href="javascript:void(0);" class="link24"></a></li>
                  <li class="als-item" id="als-item_0_24" style="left: 420px;"><a href="javascript:void(0);" class="link25"></a></li>
                  <li class="als-item" id="als-item_0_25" style="left: 420px;"><a href="javascript:void(0);" class="link26"></a></li>
                  <li class="als-item" id="als-item_0_26" style="left: 420px;"><a href="javascript:void(0);" class="link27"></a></li>
                  <li class="als-item" id="als-item_0_27" style="left: 420px;"><a href="javascript:void(0);" class="link28"></a></li>
                  <li class="als-item" id="als-item_0_28" style="left: -3920px;"><a href="javascript:void(0);" class="link29"></a></li>
                  <li class="als-item" id="als-item_0_29" style="left: -3920px;"><a href="javascript:void(0);" class="link30"></a></li>
                  <li class="als-item" id="als-item_0_30" style="left: -3920px;"><a href="javascript:void(0);" class="link31"></a></li>
                </ul>
              </div>-->
              <script language="javascript">
$(".partners_content als-viewport ul li img").hover(function(){$(this).css("border-color","#A0C0EB");},function(){$(this).css("border-color","#d8d8d8")});
jQuery(".partners_logos").slide({titCell:"",mainCell:".partners_content als-viewport",autoPage:true,effect:"leftLoop",autoPlay:true,vis:4});
</script> 
            </div>
            <!-- #partners_section --> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- #partners_end --> 
<!--link start-->
<div class="container">
  <div class="reference-box">
    <div class="agent-title-new">
      <h4>友情链接</h4>
    </div>
    <ul class="yq-link" style="margin-bottom:20px;">
      {eval $linkList = db::select('cms_link', '*', '', "sort,id DESC");}
      {if $linkList}
      {loopQuick $linkList}
      <li><a target="_blank" href="$v[link]" data-toggle="tooltip" title="" data-original-title="$v[title]">$v[title]</a></li>
      {/loopQuick}
      {/if}
      <li><a class="linkmore" target="_blank" href="http://q.url.cn/CDpF3o?_type=wpa&qidian=true">+ 申请友链</a></li>
      <br>
      <br>
      <br>
    </ul>
  </div>
</div>
<!--link end-->

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-4 hidden-xs">
        <p> <img src="/logo.png"> </p>
        <p> &nbsp;&nbsp;&nbsp;{$webName}是专业的免签收款即时到账服务提供商，成立至今以两年有余！我们支持支付宝、微信、QQ钱包、网银、财付通等主流支付接口。秉承、热心、诚信、安全的服务理念，为您提供优质的服务。 </p>
      </div>
      <div class="a col-md-3 col-sm-3 col-xs-4 hidden-xs">
        <dl>
          <dt> 最新公告 </dt>
          <dd> <a onclick="return layer.alert('本站域名为：{echo $var->domains[host];}，工信部备案单位为：风暴云计算有限公司，暂无其他域名，请谨防假冒。有疑问请联系客服：{cfg web,qq}！')"> 【重要】本站域名{echo $var->domains[host];}，其他域名均为假冒。 </a> </dd>
          <dd> <a onclick="return layer.alert('{$webName}提现处理时间为周一到周五，每日财务将自动处理提现。到账时间为：9:20--17:30 ，周末借节日延顺。')"> 【说明】商户提现结算一般多久到账？ </a> </dd>
          <dd> <a onclick="return layer.alert('{$webName}支持php，asp，aspx等等多种语言，同时也支持APP，具体对接您可以参考开发文档。')"> 【说明】{$webName}支持哪些语言？支持app吗？ </a> </dd>
        </dl>
      </div>
      <center>
      	{eval $newsCate = db::select('cms_news_cate', '*', '', "sort,id DESC", 3);}
        {if $newsCate}
        {loopQuick $newsCate}
        {eval $newsList = db::select('cms_news', 'id,title,jane,content', "cid=$v[id]", 'sort,id DESC', 3);}
        <div class="col-md-2 col-sm-3 hidden-xs">
          <dl>
            <dt> $v[name] </dt>
            {if !empty($newsList)}
            {loopQuick $newsList $k1 $v1}
            <dd> <a href="{if $v1[content]}{r}/news/$v1[id]{else}javascript:void(0);{/if}" data-toggle="tooltip" title="" data-original-title="$v1[jane]"> $v1[title] </a> </dd>
            {/loopQuick}
            {/if}
          </dl>
        </div>
        {/loopQuick}
        {/if}
        
      </center>
    </div>
  </div>
  <center style="margin-top:40px; border-top: 1px solid #2d3c4e;">
    <p  style="margin-top:40px;"> Copyright © 2013-{echo date('Y');} {$webName}</p>
    <p><a href="//t.cn/7yBy7" target="_blank" style="color:#8392A7;">{cfg web,webIcp} </a> {$webName}版权所有 </p>
    <a target="_blank" href="//www.beian.gov.cn/"style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"> <img src="{su}pay/static/default/images/ghs.png" style="float:left;" />
    </a>
    <p style="margin-top:20px;"> 

<!--<a href="//auth.tenwang.net/?url=jinmipay.com" target="_blank"> <img src="/img/images/jmcms.png" width="125" height="49" border="0" style="border-width:0px;border:hidden; border:none;margin-right:18px;" class="hidden-xs" alt="正版授权"> </a> 
<a style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"> <img src="{su}pay/static/assets/img/hzsj.png" border="0" alt="诚信网站" style="margin-right:18px;"> </a> 
<a href="{cfg web,szcert}" target="_blank"> <img src="{su}pay/static/assets/img/newGovIcon.gif" width="125" height="45" border="0" style="border-width:0px;border:hidden; border:none;" class="hidden-xs"> </a>--> 

</p>
<p style="display:none;"><script src="https://s22.cnzz.com/z_stat.php?id=1263229309&web_id=1263229309" language="JavaScript"></script></p>
</div>
<!-- 侧边栏联系我们 -->
<div class="side-contact fontyh hidden-xs" id="side-go-top" >
<div class="qq-item"> <i>&nbsp;</i> <span>QQ咨询</span>
  <p><em></em> <a href="http://q.url.cn/CDpF3o?_type=wpa&qidian=true" target="_blank">商户接入</a> <a href="http://q.url.cn/CDpF3o?_type=wpa&qidian=true" target="_blank">合作洽谈</a> <a href="http://q.url.cn/CDpF3o?_type=wpa&qidian=true" target="_blank">技术支持</a>  </p>
</div>
<div class="phone-item"> <i>&nbsp;</i> <span>招商电话</span>
  <p style="height: 170px!important;"><em></em>招商电话<br /><strong>{cfg web,phone}</strong><br />
    （上午9:00-下午24:00）<br/>仅接受商户接入类问题的<br/>咨询。其他事宜可联系在<br/>线客服</p>
</div>
<div class="weixin-item"> <i>&nbsp;</i> <span>企业微信</span>
  <p><em></em>暂未开通<br />
    <img src="{r}/{cfg web,wxerm}" width="98" height="98" alt="{$webName}"></p>
</div>
<div class="gotop-item"> <i>&nbsp;</i> <span>返回顶部</span> </div>
</div>
<script type="text/javascript" >
//侧边栏联系我们
if ($(window).scrollTop()>=0){
    $("#side-go-top").fadeIn(500);
}
$("#side-go-top .gotop-item").click(function(){
    $('body,html').animate({scrollTop:0},300);
    return false;
});
$(window).scroll(function(){
    if ($(window).scrollTop()>=0)
    {
        $("#side-go-top").fadeIn(500);
    }
    else
    {
        $("#side-go-top").fadeOut(500);
    }
});
//侧边栏效果
$('.side-contact .qq-item,.side-contact .phone-item,.side-contact .weixin-item').hover(function(){
    $(this).find('p').show();
},function(){
    $(this).find('p').hide();
});
//输入过滤
document.getElementById("keyword").onkeypress = function(e){
    checkChar(e);
}
document.getElementById("textarea1").onkeypress = function(e){
    checkChar(e);
}
 
function checkChar(e){
    e = window.event || e;
    var code = e.keyCode || e.which;
    var reg = /[\\\/:\*\?"\<\>\|]/;// 禁止 \/:*?"<>|
    if(reg.test(String.fromCharCode(code))){
        if(window.event){
            e.returnValue = false;
        }else{
            e.preventDefault();
        }
    }
}
</script> 

{cfg web,webStatcode}
<!-- 侧边栏联系我们 /-->
<!--meiqia start-->
<!-- <script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = 'https://static.meiqia.com/dist/meiqia.js?_=t';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 74584);
</script> -->

<!--meiqia end-->
<div style="display:none"> </div>
<script>try {if( self.location == "http://jmapi1.line.jinmipay.com/" ) {
top.location.href = "http:/www.jinmipay.com/";
}
if( self.location == "https://jmapi1.line.jinmipay.com/" ) {
top.location.href = "http:/www.jinmipay.com/";
}
if( self.location == "https://jinmipay.com/" ) {
top.location.href = "http:/www.jinmipay.com/";
}
if( self.location == "http://jinmipay.com/" ) {
top.location.href = "http:/www.jinmipay.com/";
}
else {document.write ("")}} catch(e) {}</script>
</body>
</html>