{sub header}
<section class="main-theme">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2> $item[title]
          <p> $item[jane] </p>
        </h2>
      </div>
      <div class="col-md-6 text-right hidden-sm hidden-xs"> <img src="{su}pay/static/default/images/sub-banner-newbg.png"> </div>
    </div>
  </div>
</section>
<section class="contact-info" style="margin-top:20px;">
<div class="container">
    <div class="row">
		$item[content]
	</div>
</section>
{sub footer}