<!DOCTYPE html>
<html>
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
{eval
	$__file = cache::get_code('tkd');
	if ($__file){
    	include($__file);
	}else {
		$webTitle = $webKeywords = $webDescription = '';
	}
}
{if $webTitle}
<title>$webTitle</title>
{/if}
{if $webKeywords}
<meta name="keywords" content="$webKeywords" />
{/if}
{if $webDescription}
<meta name="description" content="$webDescription" />
{/if}
    <link rel="shortcut icon" href="<?php echo WEB_URL; ?>/favicon.ico" type="image/x-icon">
    <link href="<?php echo WEB_URL; ?>/qscms/static/pay/static/common/bootstrap.min.css?spm=2.1" type="text/css" rel="stylesheet">
    <style>
      html,body,div,p,span,ul,ol,dl,h1,h2,h3,h4,h5,h6{margin:0;padding: 0}body{font-family:
      微软雅黑,'Microsoft Yahei';background: #eee}ul,ol{list-style: none}img{border:
      0;outline: none}a{color:#6B6D6E}a:hover{color:#CD1C20;text-decoration:
      none}#header{background: #337AB7;}#header .logo{line-height: 50px;font-size:
      1.4em;text-align: center;color:#fff}.paymoney{background: #fff;padding:20px
      0}.bf1{font-size: 2em;color:#E43D40;letter-spacing: 2px}.orderinfo{margin:10px
      auto;color:#999}.pay_list{background: #fff}.pay_list ul{margin:10px auto;}.pay_list
      ul li{border-bottom:1px solid #ddd}.pay_list ul li label{margin:10px 20px;}.fl1,.fl2{float:left}.fl1
      img{margin-left:8px;width:50px}.fl2{margin-left:12px}.fl2 p{color:#999;font-size:13px;line-height:
      24px}.fl2 h4{font-size:14px;margin-top:8px}.fl2 h4 span{background:#E43D40;color:#fff;font-size:12px;padding:2px;border-radius:
      3px}.plist{display:none;border-top:1px solid #ddd;background: #eee;padding:10px
      0 20px 0;}.plist p{float:left;margin-left:25px;margin-top:10px;border:
      1px solid #fff;}.plist p.current{border:1px solid #E43D40}#footer{background:#263445;text-align:center;color:#8392A7;margin-top:30px;padding:20px
      0;}
    </style>
    <script src="<?php echo WEB_URL; ?>/style/wap_pay/js/jquery-1.12.1.min.js" type="text/javascript">
    </script>
    <script src="<?php echo WEB_URL; ?>/style/wap_pay/js/bootstrap.min.js" type="text/javascript">
    </script>
  </head>
  
  <body>
    <div id="header">
      <div class="logo">
       <span class="text"><img style="width:43px;height:43px;margin-bottom: 6px;" alt="QQ钱包支付" src="/qscms/static/images/pay/logom.png?spa=v1">{$webName}收银台</span>
      </div>
    </div>
    <div class="paymoney bf1 text-center">
      <p style="font-size:14px;color:#666">
        应付金额
      </p>
    &yen;{$money}
    </div>
    <div class="container">
      <div class="row">
        <div class="orderinfo">
          <div class="col-xs-6">
            订单号：
          </div>
          <div class="col-xs-6 text-right">
            <span style="color:#E43D40">
            <?php echo $item['sn'];?>
            </span>
          </div>
          <div class="col-xs-6">
          商户信息：
          </div>
          <div class="col-xs-6 text-right">
            <a href="http://www.jinmipay.com/" target="_blank">
             {$webName}
            </a>
          </div>
        </div>
      </div>
    </div>
              <form name=alipayment action="{r}/pay/" method="get" >
              	<input type="hidden" name="out_trade_no" value="$out_trade_no">
                <input type="hidden"   id="payment" value="">
      <div class="pay_list">
        <ul>
	{if qscms::is_weixin() == false}
          <li>
            <label>
              <div class="fl1">
                <input type="radio" name="payment" value="wxpay">
                &nbsp;
                <img src="<?php echo WEB_URL; ?>/style/img/weixin.png"  data-pid="wxpay"  data-pty="wxpay">
              </div>
              <div class="fl2">
                <h4>
                  微信wap
                </h4>
                <p>
                  推荐微信Wap用户使用
                </p>
              </div>
            </label>
          </li>
	 {/if}
          <li>
            <label>
              <div class="fl1">
                <input type="radio" name="payment" data-pid="alipay" value="alipay" data-pty="alipay">
                &nbsp;
                <img src="<?php echo WEB_URL; ?>/style/img/alipay.png" data-pid="alipay" data-pty="alipay">
              </div>
              <div class="fl2">
                <h4>
                  支付宝wap
                </h4>
                <p>
                  推荐支付宝Wap用户使用
                </p>
              </div>
            </label>
          </li>
	
          <li>
            <label>
              <div class="fl1">
                <input type="radio" name="payment" value="qqpay">
                &nbsp;
                <img src="<?php echo WEB_URL; ?>/style/img/qpayico.png?spm=v1.1" data-pid="qqpay" data-pty="qqpay"  value="qqpay">
              </div>
              <div class="fl2">
                <h4>
                  QQ钱包wap
                </h4>
                <p>
                  推荐QQ钱包Wap用户使用
                </p>
              </div>
            </label>
          </li>
	
          <li>
            <label>
              <div class="fl1">
                <input type="radio"  name="payment" id="payment" value="bank">
               
                &nbsp;
                <img src="<?php echo WEB_URL; ?>/style/img/ubank.png">
              </div>
              <div class="fl2">
                <h4>
                  网银wap付款
                </h4>
                <p>
                  支持多种手机Wap银行
                </p>
              </div>
            </label>
            <div class="plist banklist">
              <p>
                <img src="{su}images/pay/ICBC.gif" data-pid="101" data-pty="bank" value="101">
              </p>
             
              <p>
              <img src="{su}images/pay/CCB.gif" data-pid="301" data-pty="bank">
              </p>
              <p>
                <img src="{su}images/pay/ABC.gif" data-pid="401" data-pty="bank">
              </p>
              <p>
             <img src="{su}images/pay/PSBC.gif" data-pid="1902" data-pty="bank">
              </p>
              <p>
               <img src="{su}images/pay/BOCSH.gif" data-pid="1201" data-pty="bank">
              </p>
              <p>
                <img src="{su}images/pay/CMB.gif" data-pid="201" data-pty="bank">
              </p>
              <p>
                <img src="{su}images/pay/SPDB.gif" data-pid="601" data-pty="bank">
              </p>
              <p>
              <img src="{su}images/pay/GDB.gif" data-pid="1901" data-pty="bank">
              </p>
              <p>
               <img src="{su}images/pay/BOCOM.gif" data-pid="1101" data-pty="bank">
              </p>
              <p>
               <img src="{su}images/pay/CNCB.gif" data-pid="501" data-pty="bank">
              </p>
              <div style="clear:left">
              </div>
            </div>
          </li>
	{if false}
          <li>
            <label>
              <div class="fl1">
                <input type="radio" name="payment" value="card">
                &nbsp;
                <img src="<?php echo WEB_URL; ?>/style/img/cards.png">
              </div>
              <div class="fl2">
                <h4>
                  点卡支付
                </h4>
                <p>
                  支持多种充值卡支付
                </p>
              </div>
            </label>
            <div class="plist cardlist">
              <p>
                <img src="<?php echo WEB_URL; ?>/style/img/SNDACARD.jpg" data-pid="c">
              </p>
              <p>
                <img src="<?php echo WEB_URL; ?>/style/img/QQ.jpg" data-pid="r">
              </p>
              <p>
                <img src="<?php echo WEB_URL; ?>/style/img/SZX.jpg" data-pid="a">
              </p>
              <p>
                <img src="<?php echo WEB_URL; ?>/style/img/ZHENGTU.jpg" data-pid="d">
              </p>
              <p>
                <img src="<?php echo WEB_URL; ?>/style/img/SOHU.jpg" data-pid="n">
              </p>
              <p>
                <img src="<?php echo WEB_URL; ?>/style/img/JIUYOU.jpg" data-pid="q">
              </p>
              <p>
                <img src="<?php echo WEB_URL; ?>/style/img/JUNNET.jpg" data-pid="b">
              </p>
              <p>
                <img src="<?php echo WEB_URL; ?>/style/img/UNICOM.jpg" data-pid="x">
              </p>
              <p>
                <img src="<?php echo WEB_URL; ?>/style/img/WANMEI.jpg" data-pid="u">
              </p>
              <p>
                <img src="<?php echo WEB_URL; ?>/style/img/NETEASE.jpg" data-pid="m">
              </p>
              <p>
                <img src="<?php echo WEB_URL; ?>/style/img/TELECOM.jpg" data-pid="y">
              </p>
              <p>
                <img src="<?php echo WEB_URL; ?>/style/img/TIANXIA.jpg" data-pid="e">
              </p>
              <p>
                <img src="<?php echo WEB_URL; ?>/style/img/ZONGYOU.jpg" data-pid="i">
              </p>
              <div style="clear:left">
              </div>
            </div>
          </li>
	 {/if}
        </ul>
      </div>
      <br>
      <div class="text-center" style="margin:auto 20px">
        <button type="submit" class="btn btn-danger btn-block btn-lg">
          &nbsp;&nbsp;&nbsp;
          <span class="glyphicon glyphicon-check">
          </span>
          &nbsp;确认付款&nbsp;&nbsp;&nbsp;
        </button>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
              ×
            </span>
          </button>
          重要提示：请尽快付款，30分钟内未付款的订单将会超时关闭。
        </div>
      </div>
      <br>
      <br>
    </form>
    <!-- Modal -->
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    data-backdrop="static">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">
              付款提示
            </h4>
          </div>
          <div class="modal-body">
            如果您已付款成功，请点击查看付款结果。如果还未付款，请重新选择付款方式进行付款。
          </div>
          <div class="modal-footer">
            <a href=""
            class="btn btn-success">
              查看付款结果
            </a>
            <button type="button" class="btn btn-primary" data-dismiss="modal">
              重新选择付款方式
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      ©2017&nbsp; {$webName}&nbsp;版权所有&nbsp;{cfg web,webIcp}
    </div>
 <script>
  $(function() {
    var fp = $(".pay_list ul li").eq(0);
    var pt = fp.find("input").val();
    fp.find("input").prop("checked", true);
    if (pt == "bank" || pt == "card") {
      if (pt == "bank") {
        $(".banklist").show();
      } else {
        $(".cardlist").show();
      }
      $(".plist p").first().addClass("current");
      $("[name=bankcode]").val($(".plist p:first").find("img").attr("data-pid"));
    }
    $(".pay_list ul li").click(function() {
      $(".banklist,.cardlist").hide();
      var payment = $(this).find("input").val();
      if (payment == "bank") {
        $(".banklist").show();
      }
      if (payment == "card") {
        $(".cardlist").show();
      }
    });
    $(".plist p").click(function() {
      $(".plist p").removeClass("current");
      $(this).addClass("current");
      $("[name=bankcode]").val($(this).find("img").attr("data-pid"));
    });
    $("form").submit(function() {
      $("#myModal").modal("show");
    });
  });
</script>
    <div style="display:none">
    </div>
  </body>

</html>