<!-- footer content -->
<!--
	<footer>
          <div class="pull-right">
           备案号： <a href="//t.cn/7yBy7" target="_blank" style="color:#8392A7;">{cfg web,webIcp} </a> {$webName}版权所有 <span class="v-line">|</span><a href="{r}/">网站首页</a>
	<p style="display:none;"><script src="https://s22.cnzz.com/z_stat.php?id=1263229309&web_id=1263229309" language="JavaScript"></script></p>
          </div>
          <div class="clearfix"></div>
        </footer-->
<!-- /footer content -->
</div>
</div>

<!-- gauge.js -->
<script src="{r}/style/newuser/jmyplugin/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="{r}/style/newuser/jmyplugin/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- Skycons -->
<script src="{r}/style/newuser/jmyplugin/skycons/skycons.js"></script>
<!-- iCheck -->
<script src="{r}/style/newuser/jmyplugin/iCheck/icheck.min.js"></script>

<!-- bootstrap-daterangepicker -->
<script src="{r}/style/newuser/jmyplugin/moment/min/moment.js?spm
=0p.220p.i22"></script>
<script src="{r}/style/newuser/jmyplugin/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- Datatables -->

<!-- Custom Theme Scripts -->
<script src="{r}/style/newuser/jinmipay/js/custom.min.js?a={echo rand(1,99999)}"></script>

<!-- ECharts -->
<script src="{r}/style/newuser/jmyplugin/echarts/dist/echarts.min.js"></script>
<script src="{r}/style/newuser/jmyplugin/echarts/map/js/world.js"></script>
<script type="text/javascript">
$('[name=startDate]').datepicker();
$('[name=endDate]').datepicker();
</script>

</body>
</html>