html{color:#000;font-family:Arial,sans-serif;font-size:12px;}
	h1, h2, h3, h4, h5, h6, h7, p, ul, ol,div,span, dl, dt, dd, li, body,em,i, form, input,i,cite, button, img, cite, strong,    em,label,fieldset,pre,code,blockquote, table, td, th ,tr{ padding:0; margin:0;outline:0 none;}
	img, table, td, th ,tr { border:0;}
	address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
	select,img,select{font-size:12px;vertical-align:middle;color:#666; font-family:Arial,sans-serif}
	.checkbox{vertical-align:middle;margin-right:5px;margin-top:-2px; margin-bottom:1px;}
	textarea{font-size:12px;color:#666; font-family:Arial,sans-serif}
	table{border-collapse:collapse;border-spacing:0;}
	ul, ol, li { list-style-type:none;}
	a { color:#0082cb; text-decoration:none;}
	a:hover{text-decoration:none;}
	ul:after,.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }/* 不适合用clear时使用 */
	ul,.clearfix{ zoom:1;}
	.clear{clear:both;font-size:0px; line-height:0px;height:1px;overflow:hidden;}/*  空白占位  */
	body {margin:0 auto;font-size:12px; background:#E0F1FB;color:#666;position:relative}
	#wrap{margin-top:80px;}
	.main{width:800px;margin:0px auto;}
	.main_L{width:380px;float:right;background:url(linebg.png) no-repeat left center; padding-left:25px;margin-right:17px;display:inline;}
	.tabbox ul{margin-top:10px;}
	.tabbox li{padding:3px 0px 5px; position:relative;}
	.tabbox li.btn{padding-top:10px;padding-left:98px;}
	.tabbox .label{width:350px;height:38px;background:url(textbg.png) right -45px no-repeat;  } 
	.tabbox .label:hover{background:url(textbg.png) right 0px no-repeat;  } 
	.labelhover{width:350px;height:38px;background:url(textbg.png) right 0px no-repeat;  } 
	.tabbox label{font-size:14px;color:#666} 
	.tabbox .input,.tabbox .textinput{width:100px;height:26px;line-height:26px; padding:2px;padding-left:5px;border:0px;margin-top:3px;margin-left:10px;background-color:transparent; font-family:Verdana, Arial, Helvetica, sans-serif;}
	.tabbox .textinputhover,.tabbox .textinputhover{border:1px solid #aaa;}
	.regsubmit{ width: 182px; height: 53px; border: 0px none; background: #6254b2; cursor: pointer; color: #fff; font-size: 18px; font-family: 微软雅黑; border-radius: 5px;}
	.regsubmit:hover{ width: 182px; height: 53px; border: 0px none; background:#8a7ae4; cursor: pointer; color: #fff; font-size: 18px; font-family: 微软雅黑; border-radius: 5px;}
	.main_R{width:330px;float:left;margin-left:38px;display:inline;}
	.tabbox .companyul{margin-top:20px}
	.rzm{margin-left:30px;line-height:25px;color:#999999}
	.rzm span{color:#CC0000;}
    .family{margin-top:50px; line-height:25px; font-size:14px; font-family:"微软雅黑";}
	.family h3{height:40px;text-align:center;line-height:40px;font-size:30px;font-weight:bold;color:#FD8504;}
    .family h3 span{font-size:30px;color:#666;}
	.foot{width:800px;margin:0px auto;text-align:center;padding:8px 0 0 0px;line-height:24px;}
	.foot a{color:##474747;}
	.foot a:visited{ color:#666;}

.loginBox{
    margin: 0px auto;
    background: #fff;
    background-repeat: no-repeat;
    border-radius: 8px;
    box-shadow: 5px 5px 5px #d2d2d2;
}
.label span{
	text-align:right !important;
	color:#ccc !important;
	margin-left:20px;
}
.tip{
	text-align:center;
	color:#ff0000;
	font-size:16px;
}